@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
footer .footer-links h2, .slogan h2, .slogan h1, #exterior h1, #interior h1 {
  font-family: "Inter";
  color: #252a34;
}

.slogan p, #exterior p, #interior p {
  color: #37393c;
  font-size: 17px;
}

#cars-area button, .slogan button, #exterior button, #interior button {
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#exterior, #interior {
  height: 50vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
#exterior h1, #interior h1 {
  color: white;
}
#exterior p, #interior p {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  max-width: 500px;
  color: white;
}
#exterior button, #interior button {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 0.4s;
  color: white;
  padding: 15px 40px;
}
#exterior button:hover, #interior button:hover {
  background-color: white;
  color: black;
  transition: all 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-family: "Poppins";
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 100px;
}
header nav {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  header nav {
    font-size: 15px;
  }
}
header nav a {
  text-decoration: none;
  color: #252a34;
}
header nav a:hover {
  color: crimson;
  transition: all 0.4s;
}
header #nav-left a {
  padding: 0 20px;
  border-right: 1px solid gray;
}
@media (max-width: 800px) {
  header #nav-left a {
    font-size: 14px;
  }
}
header #nav-left a:last-child {
  border-right: none;
}
header #nav-right {
  font-size: 15px;
  gap: 30px;
  padding: 0 20px;
}
@media (max-width: 800px) {
  header #nav-right {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: linear-gradient(rgb(215, 215, 215) 40%, #eaeaea 40%);
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
  }
}
@media (min-width: 800px) and (max-width: 1400px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  max-width: 500px;
}
@media (max-width: 800px) {
  .slogan {
    gap: 20px;
  }
}
.slogan h1 {
  font-size: 40px;
}
@media (max-width: 800px) {
  .slogan h1 {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .slogan p {
    font-size: 13px;
  }
}
.slogan img {
  width: 150px;
  mix-blend-mode: darken;
}
@media (max-width: 800px) {
  .slogan h2 {
    text-align: center;
    font-size: 20px;
  }
}
.slogan button {
  background-color: crimson;
}
.slogan button:hover {
  background-color: rgb(156, 6, 36);
  transition: all 0.4s;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.images-banner {
  max-width: 800px;
}
@media (max-width: 800px) {
  .images-banner {
    max-width: 400px;
  }
}
.images-track {
  max-width: 400px;
  mix-blend-mode: darken;
}
.images p {
  max-width: 500px;
  text-align: center;
}
@media (max-width: 800px) {
  .images p {
    text-align: center;
    font-size: 13px;
  }
}

#interior {
  background-image: radial-gradient(rgba(0, 0, 0, 0.5), black), url("/images/interior.jpg");
}
@media (max-width: 800px) {
  #interior h1 {
    font-size: 30px;
  }
  #interior p {
    font-size: 18px;
  }
}

#exterior {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), black), url(/images/exterior-4.jpg);
}

#cars-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
@media (max-width: 800px) {
  #cars-area h1 {
    font-size: 25px;
  }
}
#cars-area .cars {
  display: flex;
}
@media (max-width: 800px) {
  #cars-area .cars {
    flex-direction: column;
  }
}
#cars-area .cars img {
  align-items: center;
  width: 300px;
  mix-blend-mode: darken;
}
#cars-area .cars h3 {
  align-items: center;
}
#cars-area button {
  background-color: gray;
  border: 1px solid black;
  margin-top: 50px;
}
#cars-area button:hover {
  background-color: black;
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 50px;
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    gap: 30px;
  }
}
footer img {
  width: 70px;
  height: 80px;
  mix-blend-mode: unset;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
@media (max-width: 800px) {
  footer .footer-links {
    align-items: center;
  }
}
footer .footer-links h2 {
  color: white;
}
footer .footer-links a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
}
footer .footer-links a:hover {
  color: crimson;
  transition: all 0.4s;
}/*# sourceMappingURL=style.css.map */